# Core dependencies
fastapi>=0.95.0
uvicorn>=0.22.0
sqlmodel>=0.0.9
sqlalchemy>=2.0.0
pydantic>=2.0.0
python-dotenv>=1.0.0

# Database
databases>=0.6.0
alembic>=1.11.0
psycopg2-binary>=2.9.0
asyncpg>=0.27.0

# Authentication & Security
passlib>=1.7.0
bcrypt==3.2.2
PyJWT>=2.0.0
email-validator>=2.0.0

# Optimization
# ortools>=9.9.2534
ortools

# HTTP & Forms
httpx>=0.24.0
python-multipart>=0.0.5

# Logging
loguru>=0.7.0

psycopg2>=2.9.11